#plupload-upload-ui .drag-drop-status {
	display: none;

	margin: 70px auto 0;
	width: 400px;
}
#plupload-upload-ui .drag-drop-status .media-item {
	width: 200px;
	margin: 0 auto;
}

/* TODO: keep an eye out for a better way to remove the upload tab */
#import-select .media-router a:not(.active) {
	display: none;
}
